# 把 node_modules/.pnpm/* 转到node_modules方便使用
# shamefully-host=true

# pnpm在 9.0 后 pnpm 修改 link-workspace-packages 的默认值为 false。
# 该属性开启后，你在安装依赖时优先在本地链接，而不是从 registry（远程） 中下载
link-workspace-packages=true